* {
  box-sizing: border-box;
}

html,
body,
.container {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(224, 221, 221, 0.61);
  font-family: 'Helvetica Neue','Hiragino Sans GB',stheiti,'Microsoft Yahei','微软雅黑',tahoma,sans-serif;
  font-size: 14px;
  color: #333;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
